﻿@using Onactuate.DocumentServer.Web.App_Helpers
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            @{
                if (Session["PermissionType"] != null && ((Session["PermissionType"].ToString().Equals("0")) || (Session["PermissionType"].ToString().Equals("1"))))
                {
                    <li class="@Html.RouteIf(" intel", "active")">
                        <a href="#"><i class="fa fa-lg fa-fw fa-users txt-color-blue"></i> <span class="menu-item-parent">Administrator</span></a>
                        <ul>
                            <li class="@Html.RouteIf("AdminPage", "active")">
                                <a href="@Url.Action("AdminPage", "Admin", new { area = "" })" title="User Permissions"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Manage Users</span></a>
                            </li>
                            <li class="@Html.RouteIf("ApproversGroupList", "active")">
                                <a href="@Url.Action("ApproversGroupList", "Admin", new { area = "" })" title="Approver Group"><i class="fa fa-lg fa-fw fa-male"></i> <span class="menu-item-parent">Manage Approvers</span></a>
                            </li>
                            <li class="@Html.RouteIf("ManageDocuments", "active")">
                                <a href="@Url.Action("ManageDocuments", "Admin", new { area = "" })" title="Manage Documents"><i class="fa fa-lg fa-fw fa-file-word-o "></i> <span class="menu-item-parent">Manage Documents</span></a>
                            </li>
                            <li class="@Html.RouteIf("WorkflowList", "active")">
                                <a href="@Url.Action("WorkflowList", "Workflow", new { area = "" })" title="Manage Workflows"><i class="fa fa-lg fa-fw fa-file-word-o "></i> <span class="menu-item-parent">Manage Workflows</span></a>
                            </li>
                            @*<li class="@Html.RouteIf("SharepointList", "active")">
                                <a href="@Url.Action("SharepointList", "Spoint", new {area = ""})" title="Sharepoint Locations">
                                    <img src="@Url.Content("~/Content/img/icons/sharepoint-icon-32x32.png")" width="16" height="16" style="vertical-align: middle;border: 0"/>
                                    <span class="menu-item-parent">Sharepoint Locations</span>
                                </a>
                            </li>*@
                        </ul>
                    </li>
                }}

            <li class="@Html.RouteIf(" AlertRespond", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-briefcase txt-color-blue"></i> <span class="menu-item-parent">Task Management</span></a>
                <ul>
                    <li class="@Html.RouteIf("TaskList", "active")">
                        <a href="@Url.Action("TaskList", "Task", new { area = "" })" title="Tasks List"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Tasks</span></a>
                    </li>
                </ul>
            </li>
            
            @*<li class="@Html.RouteIf("tables", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Research Work</span></a>
                <ul>
                    <li class="@Html.RouteIf("Research", "DataGrid")">
                        <a href="@Url.Action("DataGrid", "Research", new { area = "Research" })">Data Grid</a>
                    </li>
                </ul>
            </li>*@

            @*<li class="@Html.RouteIf("tables", "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
                    <ul>
                        <li class="@Html.RouteIf("normal", "active")">
                            <a href="@Url.Action("normal", "tables")">Normal Tables</a>
                        </li>
                        <li class="@Html.RouteIf("datatables", "active")">
                            <a href="@Url.Action("datatables", "tables")">Data Tables <span class="badge inbox-badge bg-color-greenLight hidden-mobile">responsive</span></a>
                        </li>
                        <li class="@Html.RouteIf("jqgrid", "active")">
                            <a href="@Url.Action("jqgrid", "tables")">Jquery Grid</a>
                        </li>
                        <li class="@Html.RouteIf("general", "active")">
                            <a href="@Url.Action("general", "element")">Gen Elements</a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>

<!-- END NAVIGATION -->