﻿<!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img style="height: 25px;width:120px" src="~/content/img/Onactuate-Logo.png" alt="Union Bank of Switzerland"> </span>
        <!-- END LOGO PLACEHOLDER -->
    </div>
    
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->