@using Onactuate.DocumentServer.Web.Code
@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css?v=" + Utils.GetVersionSuffix())" />
@if (!DemosModel.Current.IsRootDemo)
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CodeFormatter.css")" />
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Components.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Platform.css?v=" + Utils.GetVersionSuffix())" />
<script src="@Url.Content("~/Scripts/Demo.js?v=" + Utils.GetVersionSuffix())" type="text/javascript"></script>
@if (!Utils.IsEmbedRequiredClientLibraries)
{
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
}
    <div class="contentPane">
        @RenderBody()

        @{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }
    </div>