﻿		<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/content/img/logo/Onactuate-Logo.png")" alt="Bravana logo" class="logo-footer">
                <br>
                <br>
                <p>OnActuate is a global IT transformation and business consulting organization. We offer ERP, CRM, business applications and managed services to organizations across multiple industries all over the world</p>
                <br>
                <address class="contact-info">
                    <p><i class="icon icon_pin_alt ico-styled text-primary"></i> 777 Hornby Street, Vancouver, Canada. V6Z 2H7</p>
                    <p><i class="icon icon_phone ico-styled text-primary"></i> +1-778-650-9800</p>
                    <p><i class="icon icon_mail_alt ico-styled text-primary"></i> <a href="mailto:info@onactuate.com">info@onactuate.com</a></p>
                </address>
            </div>
            <div class="col-md-4">
                <h4 class="footer-heading">LATEST NEWS</h4>
                <ul class="list-unstyled latest-news-footer">
                    <li class="news-item">
                        <h5 class="title"><a href="http://www.onactuate.com/managing-risk-during-an-erp-implementation/">Managing Risk during an ERP Implementation</a></h5>
                        <span class="post-date">December 6, 2016</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="footer-heading">GET CONNECTED</h4>
                <ul class="list-inline social-icons social-icons-small">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <div class="margin-bottom-50"></div>
                <h4 class="footer-heading">NEWSLETTER</h4>
                <p>Get the latest update from us by subscribing to our newsletter.</p>
                <form class="newsletter-form" method="post">
                    <div class="input-group input-group-lg">
                        <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
                        </span>
                    </div>
                    <div class="alert"></div>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright-text left">&copy;2016 The Develovers. All Rights Reserved.</p>
            <nav class="right">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<div class="back-to-top">
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END FOOTER -->
