﻿<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top navbar-no-background navbar-light-font ignore-paddingtop">
    <!-- TOP BAR -->
    <div class="nav-topbar clearfix ">
        <div class="container">
            <div class="left">
                <ul class="list-inline social-icons social-icons-small social-icons-fullrounded">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="right">
                <form class="navbar-form navbar-left search-form" method="post" role="search">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">SUPPORT</a></li>
                    <li><a href="@Url.Action("SignIn","Account", new { area=""})">SIGN IN</a></li>
                    <li><a href="@Url.Action("Register","Account", new { area=""})" class="as-button"><span class="btn btn-primary">START FREE TRIAL</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END TOP BAR -->
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <i class="fa fa-bars"></i>
        </button>
        <a href="index.html" class="navbar-brand">
            <img src="@Url.Content("~/content/assets/img/logo/Onactuate-Logo.png")" alt="Onactuate Labs" width="150px">
        </a>
        <div id="main-nav-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav main-navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCT <i class="fa fa-angle-down"></i></a>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SOLUTIONS <i class="fa fa-angle-down"></i></a>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT US <i class="fa fa-angle-down"></i></a>
                </li>
                <li class="dropdown">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>
        <!-- END MAIN NAVIGATION -->
    </div>

</nav>
<!-- END NAVBAR -->