﻿<!-- =========================
SECTION: CONTACT INFO
============================== -->
<div class="contact-info white-bg">
    <div class="container">

        <!-- CONTACT INFO -->
        <div class="row contact-links">

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-mail colored-text"></span>
                </div>
                <a href="mailto:info@onacuate.com" class="strong">info@onacuate.com</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-geolocalize-01 colored-text"></span>
                </div>
                <a href="https://www.google.ca/maps/place/OnActuate/49.2829595,-123.1226669,18z/data=!3m1!4b1!4m5!3m4!1s0x5486718028364aa1:0xda676b7e55276bae!8m2!3d49.2829595!4d-123.1217467?hl=en" target="_blank" class="strong">
                    777 Hornby Street
                    Vancouver, BC, Canada V6Z 2H7
                </a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-tablet colored-text"></span>
                </div>
                <a href="tel:+1 866 246 2568" class="strong">+1 866 246 2568</a>
            </div>
        </div>

    </div>
</div>

<!-- =========================
GOOGLE MAP
============================== -->
<div id="container-fluid">
    <div id="cd-google-map">
        <div id="google-container">
        </div>
        <address class="color-bg">
            777 Hornby Street
            Vancouver, BC, Canada V6Z 2H7
        </address>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer grey-bg">
    ©2018 Onactuate LLC. All Rights Reserved
    <br />
    <!-- SOCIAL ICONS -->
    <ul class="social-icons">
        <li>
            <a href="https://www.facebook.com/OnActuate/" target="_blank"><span class="icon-social-facebook transparent-text-dark"></span></a>
        </li>
        <li>
            <a href="https://twitter.com/OnActuate" target="_blank"><span class="icon-social-twitter transparent-text-dark"></span></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/onactuate/" target="_blank"><span class="icon-social-linkedin transparent-text-dark"></span></a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCIDv4md__0TyeoqmMLVKnAQ" target="_blank"><span class="icon-social-youtube transparent-text-dark"></span></a>
        </li>
    </ul>

    <!-- OPTIONAL FOOTER LINKS -->
    <ul class="footer-links small-text">
        <li>
            <a href="https://www.onactuate.com/about/" target="_blank" class="dark-text">About</a>
        </li>
        <li>
            <a href="https://www.onactuate.com/terms-conditions/" target="_blank" class="dark-text">Terms + Conditions</a>
        </li>
        <li>
            <a href="https://www.onactuate.com/privacy-policy/" target="_blank" class="dark-text">Privacy Policy</a>
        </li>
    </ul>

</footer>