<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId">
<head>
    <title>Onactuate Labs - CAFR 365 Registration Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Doc++ document management system developed by Onactuate Labs">
    <meta name="author" content="Onactuate Labs Team">

    <!-- =========================
    FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="@Url.Content("~/Content/stamp/images/favicons/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@Url.Content("~/Content/stamp/images/favicons/favicon-152.png")">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@Url.Content("~/Content/stamp/images/favicons/favicon-120.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/stamp/images/favicons/favicon-72.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/stamp/images/favicons/favicon-57.png")">

    <link href='http://fonts.googleapis.com/css?family=Cabin:400,600|Open+Sans:300,600,400' rel='stylesheet'>

    <!-- =========================
    STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/bootstrap.min.css")">
    <link rel=" stylesheet" href="@Url.Content("~/Content/stamp/css/animate.min.css")">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/assets/icons/icons.css")">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/owl.theme.css")">
    <link rel=" stylesheet" href="@Url.Content("~/Content/stamp/css/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/nivo-lightbox.css")">
    <link rel=" stylesheet" href="@Url.Content("~/Content/stamp/css/nivo_themes/default/default.css")">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/styles.css")">

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/responsive.css")">

    <!-- COLORS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/blue.css")">
    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/red.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/green.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/green2.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/purple.css")"> -->
    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/stamp/css/colors/orange.css")"> -->

</head>

<body>

    <!-- =========================
    PRE LOADER
    ============================== -->
    <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>

    @RenderBody()

    @{ Html.RenderPartial("_StampFooter"); }

    <!-- =========================
    SCRIPTS
    ============================== -->
    <script src="@Url.Content("~/Content/stamp/js/jquery.min.js")"></script>
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    <script src="@Url.Content("~/Content/stamp/js/smoothscroll.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/jquery.nav.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/nivo-lightbox.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/retina.min.js")"></script>
    <script src="@Url.Content("~/Content/stamp/js/jquery.ajaxchimp.min.js")"></script>

    <!-- GOGLE MAP -->
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" type="text/javascript"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- CUSTOM JS  -->
    <script src="@Url.Content("~/Content/stamp/js/custom.js")"></script>

</body>

</html>