@using System.Collections
@model Onactuate.DocPlusPlus.RegistrationWeb.Models.TenantRegistrationModel
@{
    List<SelectListItem> subscriptionPlansList = new List<SelectListItem>();
    subscriptionPlansList.Add(new SelectListItem
    {
        Text = "Choose a Subscription Plan",
        Value = ""
    });
    subscriptionPlansList.Add(new SelectListItem
    {
        Text = "Free Trial",
        Value = "0",
        Selected = true
    });
    subscriptionPlansList.Add(new SelectListItem
    {
        Text = "Basic Plan",
        Value = "1"
    });
    subscriptionPlansList.Add(new SelectListItem
    {
        Text = "Standard Plan",
        Value = "2"
    });
    subscriptionPlansList.Add(new SelectListItem
    {
        Text = "Enterprise Plan",
        Value = "3"
    });
}

<header class="header" data-stellar-background-ratio="0.5" id="home">

    <!-- COLOR OVER IMAGE -->
    <div class="overlay-layer">

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-grid-2x2"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="onactuate-logo" href="#">
                        <img src="@Url.Content("~/Content/img/logo/Onactuate-Logo.png")" alt="">
                    </a>

                </div>

                <!-- TOP BAR -->
                <div class="navbar-collapse collapse" id="stamp-navigation">

                    <!-- NAVIGATION LINK -->
                    <ul class="nav navbar-nav navbar-left main-navigation small-text">
                        <li>
                            <a href="#section2">Why Us?</a>
                        </li>
                        <li>
                            <a href="#section5">Services</a>
                        </li>
                        <li>
                            <a href="#section6">Pricing</a>
                        </li>
                    </ul>

                    <!-- LOGIN REGISTER -->
                    <ul class="nav navbar-nav navbar-right login-register small-text">
                        <li class="login js-login">
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END STICKY NAVIGATION -->
        <!-- CONTAINER -->
        <div class="container">

            <!-- ONLY LOGO ON HEADER
                  <div class="only-logo">
                     <div class="navbar">
                            <div class="navbar-header">
                               <img src="images/logo-2.png" alt="">
                            </div>
                     </div>
                  </div>
                  /END ONLY LOGO ON HEADER -->

            <div class="row">
                <div class="col-md-7 text-left">

                    <!-- HEADING AND BUTTONS -->
                    <div class="intro-section">

                        <!-- WELCOM MESSAGE -->
                        <h1 class="intro white-text">
                            CAFR 365
                        </h1>

                        <p class="transparent-text">A Reliable, Simple and Secure platform for creating and managing Comprehensive Annual Financial Report (CAFR).</p>
                        <p class="transparent-text" style="text-align: justify">CAFR 365 is an enterprise solution for your CAFR report management needs. </p>
                        <p class="transparent-text" style="text-align: justify">
                            Efficiently create CAFR reports from a library of in-built templates.
                            Manage changes to your CAFR Reports and keep a track of changes at all times.
                            Allow multiple users to work concurrently on one CAFR Report without causing any locks.
                            Assign segments of documents to be updated by different users.
                            Users will see only the section assigned to them and not the complete CAFR Report.
                        </p>
                        <!-- BUTTON -->
                        <div class="button hidden-xs">
                            <a href="#section1" class="btn btn-primary secondary-button">Learn More</a>
                        </div>
                        <!-- /END BUTTON -->

                    </div>

                </div>

                <div class="col-md-5 pull-right">

                    <!-- VERTICAL REGISTRATION FORM -->
                    <div class="vertical-registration-form">

                        <h4 class="dark-text form-heading">Get 1 Month FREE Trial Now</h4>

                        @using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { Area = "", id = "registration-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            
                            @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "First Name" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.FirstName)</div>

                            @Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "Last Name" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.LastName)</div>

                            @Html.TextBoxFor(m => m.EmailAddress, htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "Company Email" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.EmailAddress)</div>

                            @Html.TextBoxFor(m => m.CompanyName, htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "Company" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.CompanyName)</div>

                            @Html.TextBoxFor(m => m.PhoneNumber, htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "Phone Number" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.PhoneNumber)</div>

                            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "Create Password" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.Password)</div>

                            @Html.DropDownListFor(m => m.SubscriptionPlan, new SelectList(subscriptionPlansList, "Value", "Text"), htmlAttributes: new { @class = "form-control my-input-box", @placeholder = "Select a Subscription Plan" })
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.SubscriptionPlan)</div>

                            <div class="very-small-text">
                                @Html.CheckBoxFor(m=>m.PrivacyTerm) I agree to the Evaluation Terms and Privacy Policy
                            </div>
                            <div class="error-text">&nbsp; @Html.ValidationMessageFor(x => x.PrivacyTerm)</div>

                            <button type="submit" class="btn btn-primary standard-button">Get Started</button>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<!-- =========================
SECTION: CLIENTS LOGOs
============================== -->
@*<div class="clients white-bg">
        <ul class="client-logos">
            <li>
                <img src="@Url.Content("~/Content/stamp/images/companies/1.png")" alt="">
            </li>
            <li>
                <img src="@Url.Content("~/Content/stamp/images/companies/2.png")" alt="">
            </li>
            <li>
                <img src="@Url.Content("~/Content/stamp/images/companies/3.png")" alt="">
            </li>
            <li>
                <img src="@Url.Content("~/Content/stamp/images/companies/4.png")" alt="">
            </li>
            <li>
                <img src="@Url.Content("~/Content/stamp/images/companies/5.png")" alt="">
            </li>
            <li>
                <img src="@Url.Content("~/Content/stamp/images/companies/6.png")" alt="">
            </li>
        </ul>
    </div>*@

<!-- =========================
     SECTION: SERVICES
    ============================== -->
<section class="services grey-bg" id="section1">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <div class="small-text-medium uppercase colored-text">
                SERVICES
            </div>
            <h2 class="dark-text"><strong>CAFR 365</strong> Product Services</h2>
            <div class="colored-line">
            </div>
        </div>

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-elaboration-document-graph"></span>
                    </div>
                    <h3 class="colored-text">Word Processor</h3>
                    <p style="text-align: justify">
                        Word processing engine designed to fully automate common word processing needs with comprehensive text-formatting options, table support and image editing options.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-software-pathfinder-unite"></span>
                    </div>
                    <h3 class="colored-text">Approval Workflow</h3>
                    <p style="text-align: justify">
                        Any change made to the report goes through an approval workflow before the change can be committed to the report. Workflows are simple to configure and easy to use.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-man-people-streamline-user"></span>
                    </div>
                    <h3 class="colored-text">Concurrent Users</h3>
                    <p style="text-align: justify">
                        Multiple Users can work on one report simultaneously. Different users can work on different sections of the same report simultaneously without locking the report.
                    </p>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-cloud"></span>
                    </div>
                    <h3 class="colored-text">Saas or On-Premise</h3>
                    <p style="text-align: justify">
                        Deployment is available both on Cloud as well as On-Premise.
                        <br />
                        Software as a service (SaaS) allows users to connect to and use cloud-based solution over the Internet.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-elaboration-folder-cloud"></span>
                    </div>
                    <h3 class="colored-text">CAFR Templates</h3>
                    <p style="text-align: justify">
                        We offer a comprehensive library of CAFR templates which can be used as a starting point for creating CAFR Reports.
                        <br />
                        Users can also upload their own templates to the library.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-datareport"></span>
                    </div>
                    <h3 class="colored-text">Data Reports from ERP</h3>
                    <p style="text-align: justify">
                        CAFR 365 can import financial data from your ERP system. Data Reports can be configured one time and then embedded into CAFR Reports later on wherever required.
                        <br />

                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- =========================
     SECTION: BENEFITS
    ============================== -->
@*<section class="unique-features white-bg" id="section5">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    FEATURES
                </div>
                <h2 class="dark-text"><strong>Useful</strong> Benefits</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Saas subscription model out of the box proactive solution.
                </div>
            </div>

            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-laptop colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Reliable Company</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                OnActuate is a global enterprise solution integrator that thrives on making technology work hard and efficiently for growing businesses like yours.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-map-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Making technology work for you</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                In the face of rapidly evolving technologies, we take the complexities out of making ERP and CRM technology work smoothly and effectively for you.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-cloud-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Cloud Platform</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Software as a service (SaaS) allows users to connect to and use cloud-based solution over the Internet.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <br /><br /><br />
                        <img src="@Url.Content("~/Content/img/iot/IoT - 3.png")" alt="">
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-gift-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Bootstrap 3.3.1</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">400+ Icons Font</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-chat-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Top Support</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                User engagement A/B testing shrink a market venture capital pitch deck.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>*@

<!-- =========================
 SECTION: PRICING
============================== -->
<section class="pricing grey-bg" id="section6">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                Pricing
            </div>
            <h2 class="dark-text"><strong>Affordable</strong> Subscription Packages</h2>
            <div class="colored-line">
            </div>
        </div>

        <!-- PRICING TABLE -->
        <div class="row pricing-table">

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">Basic Plan</h3>
                        <div class="colored-line">
                        </div>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>150<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="dark-text strong">1GB</span>File Storage</li>
                        <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                        <li><span class="dark-text strong">5</span>User Access</li>
                        <li><span class="dark-text strong">&nbsp;</span></li>
                        <li><span class="dark-text strong">&nbsp;</span></li>
                    </ul>

                    @*<div class="button">
                            <a href="#home" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            30 Days free Trial
                        </div>*@

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title color-bg">
                        <h3 class="white-text">Standard Plan</h3>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>299<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="colored-text strong">5GB</span>File Storage</li>
                        <li><span class="colored-text strong">Secure</span>Online Transfer</li>
                        <li><span class="colored-text strong">20</span>User Access</li>
                        <li><span class="colored-text strong">24/7</span>Customer Service</li>
                        <li><span class="dark-text strong">&nbsp;</span></li>
                    </ul>

                    @*<div class="button">
                            <a href="#home" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            <span class="colored-text">40%</span> Discount on first year
                        </div>*@

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">Enterprise Plan</h3>
                        <div class="colored-line">
                        </div>
                    </div>
                    <h2 class="price"><span class="superscript">$</span>599<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="dark-text strong">10GB</span>File Storage</li>
                        <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                        <li><span class="dark-text strong">Unlimited</span>User Access</li>
                        <li><span class="dark-text strong">24/7</span>Customer Service</li>
                        <li><span class="dark-text strong">24/7</span>Technical Support</li>
                    </ul>

                    @*<div class="button">
                            <a href="#home" class="btn standard-button inpage-scroll">Get Started</a>
                        </div>

                        <div class="small-text uppercase">
                            30 Days free Trial
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</section>

<!-- =========================
 SECTION: SCREENSHOTS
============================== -->
<section class="features" id="section7" data-stellar-background-ratio="0.5">
    <div class="overlay-layer-2">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Screenshots
                </div>
                <h2 class="white-text"><span class="strong white-text">Explore</span> Screenshots</h2>
                <div class="colored-line">
                </div>
            </div>

            <div class="row">

                <!-- LEFT SIDE ELEMENTS -->
                <div class="col-md-3 text-right left-side wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">CAFR Templates</h4>
                        <p class="transparent-text">
                            A Library of CAFR Templates to choose from
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">Data Reports</h4>
                        <p class="transparent-text">
                            Easy to customize Data Report/ Tables
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">ERP Sync</h4>
                        <p class="transparent-text">
                            Pull Financial data from your existing ERP system
                        </p>
                    </div>

                </div>

                <!-- SCREENSHOTS -->
                <div class="col-md-6">
                    <div id="screenshots" class="owl-carousel owl-theme">

                        <!-- SINGLE SCREENSHOT -->
                        <div class="screenshot">
                            <a href="@Url.Content("~/Content/img/screenshots/Templates-@2x.png")" data-lightbox-gallery="gallery1">
                                <img src="@Url.Content("~/Content/img/screenshots/Templates.png")" alt="" />
                            </a>
                        </div>

                        <!-- SINGLE SCREENSHOT -->
                        <div class="screenshot">
                            <a href="@Url.Content("~/Content/img/screenshots/DataReports-@2x.png")" data-lightbox-gallery="gallery1">
                                <img src="@Url.Content("~/Content/img/screenshots/DataReports.png")" alt="" />
                            </a>
                        </div>

                        <!-- SINGLE SCREENSHOT -->
                        <div class="screenshot">
                            <a href="@Url.Content("~/Content/img/screenshots/MergeCafr-@2x.png")" data-lightbox-gallery="gallery1">
                                <img src="@Url.Content("~/Content/img/screenshots/MergeCafr.png")" alt="" />
                            </a>
                        </div>
                    </div>
                </div>


                <!-- RIGHT SIDE FEATURES -->
                <div class="col-md-3 text-left right-side wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">Technical Support</h4>
                        <p class="transparent-text">
                            Technical Support available to help you create your first CAFR
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">Data Merging</h4>
                        <p class="transparent-text">
                            Merge your financial data into CAFR seamlessly
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">Report Editing</h4>
                        <p class="transparent-text">
                            Online Comrehensive word editor to edit and format your reports
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- =========================
 SECTION: TEAM
============================== -->
<section class="team grey-bg" id="section9">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                Team
            </div>
            <h2 class="dark-text"><strong>Project</strong> Team</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Cloud computing subscription model out of the box proactive solution.
            </div>
        </div>

        <!-- MEMBERS -->
        <div class="row wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="@Url.Content("~/Content/img/team/AshishSharan.png")" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Ashish Sharan</h5>
                        <div class="small-text">
                            Executive Director
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100015262663408"><span class="icon-social-facebook dark-text"></span></a></li>
                        <li><a href="https://twitter.com/smultronstalet"><span class="icon-social-twitter dark-text"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/priyaroop-singh-1860363/"><span class="icon-social-linkedin dark-text"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="@Url.Content("~/Content/img/team/PriyaroopSingh.png")" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Priyaroop Singh</h5>
                        <div class="small-text">
                            Technical Architect
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100015262663408"><span class="icon-social-facebook dark-text"></span></a></li>
                        <li><a href="https://twitter.com/smultronstalet"><span class="icon-social-twitter dark-text"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/priyaroop-singh-1860363/"><span class="icon-social-linkedin dark-text"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="@Url.Content("~/Content/img/team/AjayKumar.png")" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Ajay Kumar</h5>
                        <div class="small-text">
                            Web Developer
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100015262663408"><span class="icon-social-facebook dark-text"></span></a></li>
                        <li><a href="https://twitter.com/smultronstalet"><span class="icon-social-twitter dark-text"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/priyaroop-singh-1860363/"><span class="icon-social-linkedin dark-text"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6 team-member">
                <div class="wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="@Url.Content("~/Content/img/team/ShivaliGupta.png")" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Shivali Gupta</h5>
                        <div class="small-text">
                            UI Developer
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100015262663408"><span class="icon-social-facebook dark-text"></span></a></li>
                        <li><a href="https://twitter.com/smultronstalet"><span class="icon-social-twitter dark-text"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/priyaroop-singh-1860363/"><span class="icon-social-linkedin dark-text"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- =========================
SECTION: CALL TO ACTION
============================== -->
<section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
    <div class="overlay-layer-2">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">

                    <div class="uppercase colored-text strong">
                        30 Days free trial
                    </div>

                    <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Start your FREE Trial Now!</h2>

                    <a href="#home" class="btn btn-primary standard-button inpage-scroll wow fadeInRight" data-wow-duration="2s" data-wow-offset="40" type="button">Get Started</a>

                </div>

            </div>
        </div>
    </div>
</section>

<style>
    .error-text {
        color: #ff0000;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        width: 100%;
        padding-bottom: 5px;
    }
    .very-small-text {
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .my-input-box,
    .my-textarea-box {
        outline: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dedede;
        border-radius: 3px;
        color: #999999;
        padding-left: 21px;
        line-height: auto;
    }

    .my-input-box {
        min-height: 50px;
    }

    .my-textarea-box {
        padding-top: 15px;
    }

        .my-input-box:active,
        .my-textarea-box:active,
        .my-input-box:focus,
        .my-textarea-box:focus {
            color: #272727;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
</style>