﻿<div id="victimCountId">
    Registration Status here
</div>

<script type="text/javascript">

    var timeoutId;
    $(document).ready(function () {
        timeoutId = window.setTimeout(UpdateRegistrationStatus, 1000);
    });

    @*function UpdateRegistrationStatus() {

        $.getJSON("@Url.Action("GetRegistrationStatus","Account")", function (dataResponse) {
            var div = $('#victimCountId').html(dataResponse);

            printResult(div, item);
        });
    }*@

    function UpdateRegistrationStatus() {
        $.getJSON("@Url.Action("GetRegistrationStatus", "Account")", function (dataResponse) {
            //dataResponse will be whatever we returned from our action
            //so now we can just populate whatever dom element we want with the value
            //for example we'll just replace all the html in the dom element with id 'victimCountId'
            $('#victimCountId').html(dataResponse);
        });
    }

</script>