﻿<header class="header" data-stellar-background-ratio="0.5" id="home">

    <!-- COLOR OVER IMAGE -->
    <div class="overlay-layer">

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-grid-2x2"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="onactuate-logo" href="#">
                        <img src="@Url.Content("~/Content/img/logo/Onactuate-Logo.png")" alt="">
                    </a>

                </div>

                <!-- TOP BAR -->
                <div class="navbar-collapse collapse" id="stamp-navigation">

                    <!-- NAVIGATION LINK -->
                    <ul class="nav navbar-nav navbar-left main-navigation small-text">
                        <li>
                            <a href="#section2">Why Us?</a>
                        </li>
                        <li>
                            <a href="#section5">Services</a>
                        </li>
                        <li>
                            <a href="#section6">Pricing</a>
                        </li>
                    </ul>

                    <!-- LOGIN REGISTER -->
                    <ul class="nav navbar-nav navbar-right login-register small-text">
                        <li class="login js-login">
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END STICKY NAVIGATION -->
        <!-- CONTAINER -->
        <div class="container">

            <!-- ONLY LOGO ON HEADER
                  <div class="only-logo">
                     <div class="navbar">
                            <div class="navbar-header">
                               <img src="images/logo-2.png" alt="">
                            </div>
                     </div>
                  </div>
                  /END ONLY LOGO ON HEADER -->

            <div class="row">
                <div class="col-md-7 text-left">

                    <!-- HEADING AND BUTTONS -->
                    <div class="intro-section">

                        <!-- WELCOM MESSAGE -->
                        <h1 class="intro white-text">
                            CAFR 365
                        </h1>

                        <p class="transparent-text">A Reliable, Simple and Secure platform for creating and managing Comprehensive Annual Financial Report (CAFR).</p>
                        <p class="transparent-text" style="text-align: justify">CAFR 365 is an enterprise solution for your CAFR report management needs. </p>
                        <p class="transparent-text" style="text-align: justify">
                            Efficiently create CAFR reports from a library of in-built templates.
                            Manage changes to your CAFR Reports and keep a track of changes at all times.
                            Allow multiple users to work concurrently on one CAFR Report without causing any locks.
                            Assign segments of documents to be updated by different users.
                            Users will see only the section assigned to them and not the complete CAFR Report.
                        </p>
                        <!-- BUTTON -->
                        <div class="button hidden-xs">
                            <a href="#section1" class="btn btn-primary secondary-button">Learn More</a>
                        </div>
                        <!-- /END BUTTON -->

                    </div>

                </div>

                <div class="col-md-5 pull-right">

                    <!-- VERTICAL REGISTRATION FORM -->
                    <div class="vertical-registration-form">

                        <h4 class="dark-text form-heading">Registration Request Processing</h4>

                        <p align="left">
                            Your request for registration has been successfully submitted.
                            <br /><br />
                            We are currently processing your request. You will receive an email once the request has been processed.
                            <br /><br />

                        </p>

                        <div id="RegistrationStatusPanel">
                            @{
                                Html.Partial("RegistrationStatusPartial");
                            }
                        </div>

                        <br /><br /><br /><br />
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
